/* Global styles */

body {
	font-family: Arial, sans-serif;
	color: #333;
	margin: 0px;
} 

a {
	color: #0066cc;
	text-decoration: none;
}

/* Header styles */

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
	display: inline-block;
}

nav {
	display: inline-block;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 0 0.35em;
	padding: 0;
	vertical-align:middle;
}

nav a {
	color: #636363;
	display: inline-block;
	height: 2.25em;
	line-height: 2.25em;
	padding: 0 1.25em;
	border: 0;
	border-radius: 8px;
	box-shadow: inset 0 0 0 1px transparent;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

/* Main styles */

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 0px;
}

section {
	margin-bottom: 0px;
	min-height:100vh;
	min-width:50vh;
}

h2 {
	margin-top: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding:
}

#about {
	background-image: url("/images/marek-piwnicki-G_6kPyje9Lk-unsplash.jpg");
	background-size: 100vh 100vh;

}