/* Global styles */

body {
	font-family: "Montserrat", sans-serif;

	background: linear-gradient(#F7F7F7 0%, #5b43d6 100%);*/
	margin: 0px;
} 

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

/* Header styles */

header {
	padding: 0px;
	width:100%;
	padding: 0px 15%;
	position:relative;
	top:0;
	display:flex;
	justify-content: space-between;
	align-items: center;
}


h1 {
	margin: 0;
	display: inline-block;
}

#logo {
	display: inline-block;
}

#logo a {
	height: 0px
}

#logo img{
	width: 4em;
	
}

nav {
	display: flex;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display:flex;
	justify-content: flex-end;
}

nav li {
	display: inline-block;
	margin-right: 0 0.35em;
	padding: 0;
	vertical-align:middle;
	display:flex;
	justify-content: flex-end;
}

nav a {
	color: #636363;
	display: inline-block;
	height: 2.25em;
	line-height: 2.25em;
	padding: 0 1.25em;
	border: 0;
	border-radius: 8px;
	box-shadow: inset 0 0 0 1px transparent;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

/* Main styles */

main {
	margin: 0px;
	padding: 0px;
}

section {
	margin-bottom: 0px;
	min-height:100vh;
	min-width:100vh;
	padding: 0px 15%;
}

h2 {
	margin-top: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding:
}

#about {
	background-size: 100vh;
	display:flex;
	flex-direction:row;


}

#aboutL {
	margin-top: 200px;
	flex-direction: column;
	position:absolute;
}


#introduction p {
	font-size: 90px;
}

b {
	color:#5b43d6
}

.btn {
	display: inline-block;
	padding: 12px 24px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: #000;
	color: #fff;
	border-radius: 30px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
  }
  
  .btn:hover {
	background-color: #fff;
	color: #000;
  }

  #aboutR{
	min-height:100%;
	padding-left: 45%;
  }