/* Global styles */

body {
	font-family: "Montserrat", sans-serif;
	background: linear-gradient(#F7F7F7 0%, #5b43d6 100%);*/
	margin: 0px;
} 

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

/* Header styles */

header {
	padding: 0px;
	width:100%;
	padding: 0px 20%;
	position:center;
	top:0;
	display:flex;
	justify-content: space-between;
	align-items: center;
}


h1 {
	margin: 0;
	display: inline-block;
}

#logo {
	display: inline-block;
}

#logo a {
	height: 0px
}

#logo img{
	width: 4em;
	
}

nav {
	display: flex;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display:flex;
	justify-content: flex-end;
}

nav li {
	display: inline-block;
	margin-right: 0 0.35em;
	padding: 0;
	vertical-align:middle;
	display:flex;
	justify-content: flex-end;
}

nav a {
	color: #636363;
	display: inline-block;
	height: 2.25em;
	line-height: 2.25em;
	padding: 0 1.25em;
	border: 0;
	border-radius: 8px;
	box-shadow: inset 0 0 0 1px transparent;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

/* Main styles */

main {
	margin: 0px;
	padding: 0px;
}

section {
	margin-bottom: 0px;
	min-height:100vh;
	min-width:100vh;
	padding: 0px 25%;
}

h2 {
	margin-top: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding:
}

#about {
	background-size: 100vh;
	display:flex;
	flex-direction:row;


}

#about-left {
	margin-top: 100px;
	flex-direction: column;
	position:absolute;
}


#introduction p {
	font-size: 80px;
	--height:100px;
	min-height: var(--height);
	line-height: var(--height);
}

.btn {
	display: inline-block;
	padding: 12px 24px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: #000;
	color: #fff;
	border-radius: 30px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}
  
.btn:hover {
	background-color: #fff;
	color: #000;
}

#about-right {
	min-height:100%;
	padding-left: 45%;
}

#img{
	width:1300px;
	height:1000px;
}

.animate-text{
	display:inline-flex;
	height: var(--height);
	overflow: hidden;
	padding: 0 5px;
	margin: 0 -5px;
}

.inner-animate-text{
	color:#5b43d6;
	display:flex;
	flex-flow:column nowrap;
	transform: translateY(100%);
	animation: slider 9s ease infinite;
}

@keyframes slider{
	10%, 25%{
		transform: translateY(0%);
	}
	35%, 50%{
		transform: translateY(-100%);
	}
	60%, 75%{
		transform: translateY(-200%);
	}
	85%, 100%{
		transform: translateY(-300%);
	}
}
